Flask
Flask-Cors
Flask-SQLAlchemy

SQLAlchemy
psycopg2-binary

python-dotenv
requests

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

google-genai

langchain
langchain-core
langchain-google-genai

celery
redis

gunicorn